<%= error_messages_for @tree %>

<fieldset class="form--fieldset">
  <legend class="form--fieldset-legend"><%= @tree.class.human_attribute_name :name %></legend>

  <div class="form--field -required">
    <%= f.text_field :name, required: true, container_class: "-middle" %>
  </div>
</fieldset>

<fieldset class="form--fieldset">
  <legend class="form--fieldset-legend"><%= @tree.class.human_attribute_name :ldap_auth_source %></legend>

  <div class="form--field -required">
    <%= f.select :ldap_auth_source_id,
                 LdapAuthSource.pluck(:name, :id),
                 required: true,
                 include_blank: "--- #{t(:actionview_instancetag_blank_option)} ---",
                 container_class: "-middle" %>
    <div class="form--field-instructions">
      <%= t("ldap_departments.synchronized_trees.form.auth_source_text") %>
    </div>
  </div>

  <div class="form--field -required">
    <%= f.text_field :base_dn, required: true, container_class: "-middle" %>
    <div class="form--field-instructions">
      <%= t("ldap_departments.synchronized_trees.form.base_dn_text") %>
    </div>
  </div>
</fieldset>

<fieldset class="form--fieldset">
  <legend class="form--fieldset-legend"><%= @tree.class.human_attribute_name :structure_filter_string %></legend>

  <div class="form--field -required">
    <%= f.text_field :structure_filter_string, required: true, container_class: "-large" %>
    <div class="form--field-instructions">
      <%= t("ldap_departments.synchronized_trees.form.structure_filter_string_text") %>
    </div>
  </div>

  <div class="form--field -required">
    <%= f.text_field :ou_name_attribute, required: true, placeholder: "ou", container_class: "-middle" %>
    <div class="form--field-instructions">
      <%= t("ldap_departments.synchronized_trees.form.ou_name_attribute_text") %>
    </div>
  </div>

  <div class="form--field">
    <%= f.text_field :guid_attribute, container_class: "-middle" %>
    <div class="form--field-instructions">
      <%= t("ldap_departments.synchronized_trees.form.guid_attribute_text") %>
    </div>
  </div>
</fieldset>

<fieldset class="form--fieldset">
  <legend class="form--fieldset-legend"><%= @tree.class.human_attribute_name :user_filter_string %></legend>

  <div class="form--field">
    <%= f.text_field :user_filter_string, container_class: "-large" %>
    <div class="form--field-instructions">
      <%= t("ldap_departments.synchronized_trees.form.user_filter_string_text") %>
    </div>
  </div>

  <div class="form--field">
    <%= f.check_box :sync_users, container_class: "-middle" %>
    <div class="form--field-instructions">
      <%= t("ldap_departments.synchronized_trees.form.sync_users_text") %>
    </div>
  </div>
</fieldset>
